{% extends "mapbase.html" %}

{% block title %}Draw a route{% endblock %}

{% block scripts %}
    {% include 'draw.js' %}

    {% include 'saveload.js' %}

{% endblock %}

{% block buttons %}
  <button class="tooltip-button">
    ?
    <span class="tooltip">Either upload a GeoJSON representation of your route using the "Load GeoJSON" button, or draw it using the editing tools on the left - you can draw a line route or  add markers with or without annotations. (On mobile, when drawing a line route, you may need to press and hold for a second for intermediate waypoints, to avoid accidentally ending the route early.) You can also edit any objects already drawn (or loaded) on the map. When you're done, you can save using the "Save GeoJSON" button. This will save, in GeoJSON format, any layers you have drawn, with filename corresponding to the selected route and today's date.</p>

<p>If there is a route drawn/loaded on the map, you can click the "Open Google Maps" button to open navigation between all the waypoints of the route in Google Maps. Note that if multiple routes are drawn, only the first will be navigated, so make sure you don't accidentally have more than one on the screen at once. (You can remove individual layers, or all layers at once, using a control on the left, to ensure this doesn't happen.)</p></span>
  </button>
    {% include 'buttons.html' %}
{% endblock %}
